<!doctype HTML>
<html>
<head>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
	<h1>Body stuff</h1>
	<script type="text/javascript"><!--
		google_ad_client = "pub-0000000000000000";
		google_alternate_color = "ffffff";
		google_ad_width = 468;
		google_ad_height = 60;
		google_ad_format = "468x60_as";
		google_ad_type = "text_image";
		google_ad_channel ="0000000000";
	//--></script>
	<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
	<div>Below Ad</div>

	<script>
	
		function _appendSiblings(node, nodeList) {
			var parent = node.parentNode;
			for (var i = 0; i < nodeList.length; ++i) {
				parent.insertBefore(nodeList[i], node);
			}
		}
		
		function _eval(scriptNode, code) {
			var docWrite = document.write;
			var buf = [];
			document.write = function(s) {
				buf.push(s);
			};
			
			var newScript = document.createElement('script');
			newScript.innerHTML = code;
			console.log(scriptNode.nextSibling);
			scriptNode.parentNode.insertBefore(newScript, scriptNode.nextSibling);

			document.write = docWrite;
			
			var newNodes;
			// Script should be evaluated, any doc writes are in buf.
			if (buf.length > 0) {
				var div = document.createElement('div');
				div.innerHTML = buf.join('');
				_load(div.childNodes);
				_appendSiblings(newScript, div.childNodes);
			} else {
				
			}
			
		}
		
		function _load(nodes) {
			var reScript = /script/i;
			var reUrls = /googlesyndication/i;
			for (var i = 0; i < nodes.length; ++i) {
				var node = document.body.childNodes[i];
				if (node.nodeType == 1) {
					if (reScript.test(node.nodeName) && reUrls.test(node.src)) {
						$.post('/', { 
							Id: btoa(node.src) 
						}, function(data) {
							_eval(node, data); 
						});
					}
				}
			}
		}
		
		_load(document.body.childNodes);
	</script>

</body>
</html>